/* Styles par composants */

.hero {
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1477089884677-c596568bd120?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1526817609938-a708708cf90f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1469806580075-c8309682eaeb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1477089884677-c596568bd120?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1526817609938-a708708cf90f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1469806580075-c8309682eaeb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title{
  font-size: 50px;
  text-shadow: -1px -1px #9df, 1px 1px #49d, -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color: white;
  font-weight:lighter;  
  text-align:center;
  line-height:50px;
  text-decoration: underline;
}

.title_1{
  font-size: 30px;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color:gray;
  font-weight:bold;  
  text-align:left;
  line-height:50px;
}

.title_2{
    font-size: 20px;
    font-family:"Segoe print", Arial, Helvetica, sans-serif;
    color:yellowgreen;
    font-weight:bold;  
    text-align:left;
    line-height:50px;
}
.Hbutton {
  padding: 8px 16px;
  border-radius: 4px;
}

.button_primary {
  background-color:gray;
  border: 0px;
  margin: 10px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: "center";
  border-radius: 10px;
  line-height: 2;
  font-size : 15px;  
}

.button_secondary {
  background:white;
  border: 0;
  padding-right: 20px;
  padding-left: 20px;
  align-items: "center";
  font-size: 20px,
  
}

.text_primary {
  color :white; 
  font-family : "calibri";
}

.text_secondary {
  color: gray; 
  font-family : "Georgia";
   
}

.large {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(https://www.hertzpageo.com/img/blog/fr/FR%20BLOG/2017/nice%20beach.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.columns{
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}

.imgPresentation{
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
}

.columnPresentation{
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;

}

.media_content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}